<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<body>
    <form method="post" style="display:flex">{% csrf_token %}
        <p>Environments: </p>
        <input type="file" name="file">
        <input type="submit">
    </form>

    <form method="get" action="/api/data/" style="display:flex">
        <p>GetDataByID</p>
        <input type="text" name="getID" placeholder="InputID">
        <input type="submit"></input>
    </form>

    <form method="get" action="/api/data/" style="display:flex">
        <p>DeleteDataByID</p>
        <input name="deleteID" placeholder="deleteID">
        <input type="submit"></input>
    </form>

    <form method="post" action="/api/data/add/" style="display: grid; justify-content: start;">{% csrf_token %}
        <p>AddData</p>
        {{ form }}
        <input type="submit">
     </form>

    <form method="get" action="api/data/list/">
        <p>GetListOfData</p>
        <ul>
            <li><input name="page" placeholder="Page"></li>
            <li><input name="limit" placeholder="Limit"></li>
            <li><input type="submit"></li>
        </ul>
    </form>

</body>
</html>